html,body,input,button,select,textarea {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, arial, sans-serif;
}

html {
  background-image: url("http://seattle.io/img/bg.png");
}
/* #ECE9DA #FFFAEB*/
nav.top-bar {
background-color: #F5F3EB;
background-image: url("http://seattle.io/img/bg.png");
  height: 35px;
  border-bottom: 1px solid #ccc;
  -webkit-box-shadow: 0px 0px 3px 1px rgba(150, 150, 150, .2);
  box-shadow: 0px 0px 3px 1px rgba(150, 150, 150, .2)
  text-shadow: 0px -1px 1px #fff;
  filter: dropshadow(color=#fff, offx=0, offy=-1);
}

nav.top-bar a.site-title {
  color: #444;
  font-weight: 900;
  display: block;
  padding-top: 6px;
  float: left;
}

div.main {
  padding-top: 15px;
}

div#map {
  height: 400px;
  border: 1px solid #ccc;
  -webkit-box-shadow: 0px 0px 3px 1px rgba(150, 150, 150, .2);
  box-shadow: 0px 0px 3px 1px rgba(150, 150, 150, .2)
}

.leaflet-popup-content-wrapper {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.leaflet-container a.leaflet-popup-close-button {
padding: 4px 3px 0px 0px;
font-weight: 100;
}

p.legal {
font-size: 12px;
}

.bold {
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
  color: #666;
}

footer {
font-weight: 100;
color: #fff;
background: #402a21; /* Old browsers */
background-image: url("http://seattle.io/img/bg.png");
text-shadow: 0px -1px 1px #000;
filter: dropshadow(color=#000, offx=0, offy=-1);
padding-top: 20px;
-webkit-box-shadow: inset 0px 5px 10px 0px rgba(0, 0, 0, .3);
        
        box-shadow: inset 0px 5px 10px 0px rgba(0, 0, 0, .3);
}

/*

forms

*/

.button, 
button, 
input[type="submit"], 
input[type="reset"], 
input[type="button"] {
font-size: 13px;
line-height: 24px;
text-align: center;
vertical-align: top;
cursor: pointer;
text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
background: #fafafa; /* Old browsers */
background: -moz-linear-gradient(top, #fafafa 0%, #f2f2f2 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fafafa), color-stop(100%,#f2f2f2)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #fafafa 0%,#f2f2f2 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #fafafa 0%,#f2f2f2 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #fafafa 0%,#f2f2f2 100%); /* IE10+ */
background: linear-gradient(to bottom,  #fafafa 0%,#f2f2f2 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#f2f2f2',GradientType=0 ); /* IE6-9 */
border: 1px solid #d8d8d8;
-webkit-border-radius: 2px;
-moz-border-radius: 2px;
border-radius: 2px;
padding: 7px 12px;
margin-bottom: 10;
margin-left: 10px;
}

.button:hover,
button:hover, 
input[type="submit"]:hover, 
input[type="reset"]:hover, 
input[type="button"]:hover {
color: #000;
border: 1px solid #ccc;
background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top,  #ffffff 0%, #efefef 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#efefef)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffffff 0%,#efefef 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffffff 0%,#efefef 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffffff 0%,#efefef 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ffffff 0%,#efefef 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#efefef',GradientType=0 ); /* IE6-9 */
-moz-box-shadow:  1px 1px 0 0 rgba(155, 155, 155, 0.1);
-webkit-box-shadow:  1px 1px 0 0 rgba(155, 155, 155, 0.1);
box-shadow:  1px 1px 0 0 rgba(155, 155, 155, 0.1);
}

.button:active,
button:active, 
input[type="submit"]:active, 
input[type="reset"]:active, 
input[type="button"]:active {
background: #f2f2f2; /* Old browsers */
background: -moz-linear-gradient(top,  #f2f2f2 0%, #f8f8f8 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f2f2), color-stop(100%,#f8f8f8)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #f2f2f2 0%,#f8f8f8 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #f2f2f2 0%,#f8f8f8 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #f2f2f2 0%,#f8f8f8 100%); /* IE10+ */
background: linear-gradient(to bottom,  #f2f2f2 0%,#f8f8f8 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#f8f8f8',GradientType=0 ); /* IE6-9 */
}

input[type="text"], 
input[type="password"], 
input[type="email"], 
textarea, 
select {
-webkit-border-radius: 2px;
-moz-border-radius: 2px;
border-radius: 2px;
border: 1px solid #d8d8d8;
padding: 7px 12px;
max-width: 100%;
margin-bottom: 10;
background-color: #fcfcfc;
}

input[type="text"]:focus, 
input[type="password"]:focus, 
input[type="email"]:focus, 
textarea:focus, 
select:focus {
border: 1px solid #c8c8c8;
background-color: #ffffff;
-moz-box-shadow: 0 0 1px rgba(0,0,0,.2);
-webkit-box-shadow: 0 0 1px rgba(0,0,0,.2);
box-shadow:  0 0 1px rgba(0,0,0,.2);
}
