/*
 * simple_styles.css
 * by sethvincent
 * superbigtree.com
 */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html,
body,
input,
button,
select,
textarea {
  font: 15px/25px "Helvetica Neue", Helvetica, arial, sans-serif;
  color: #333;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  height: 100%;
}
a {
  color: #3c80c3;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a:active,
a:focus {
  color: #1e4062;
}
p {
  padding-bottom: 15px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #464646;
  padding: 6px 0 5px 0;
  letter-spacing: -1px;
  font-weight: 300;
}
h1 {
  padding: 0px 0 5px 0;
  font-size: 45px;
  line-height: 55px;
  letter-spacing: -3px;
  font-weight: 900;
}
h2 {
  font-size: 35px;
  line-height: 45px;
  font-weight: 700;
}
h3 {
  font-size: 25px;
  line-height: 35px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
}
h4 {
  font-size: 25px;
  line-height: 35px;
}
h5 {
  font-size: 20px;
  line-height: 30px;
  font-weight: 700;
}
h6 {
  color: #b8b8b8;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
b,
strong {
  font-weight: 500;
}
i,
em {
  font-style: italic;
}
pre,
code {
  font-size: 12px;
  font-family: Monaco, Menlo, monospace;
  padding: 5px 10px;
  background-color: #f8f8f8;
  border: 1px solid #e2e2e2;
  overflow: scroll;
}
hr {
  border-top: 1px solid #e2e2e2;
  border-right: none;
  border-bottom: none;
  border-left: none;
  margin: 10px 0 30px 0;
}
.wf-loading {
  visibility: hidden;
}
.container:after,
.clearfix:after,
.row:before,
.row:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  font-size: 0;
}
* html .clearfix {
  height: 1%;
  overflow: visible;
}
*:first-child + html .clearfix {
  min-height: 1%;
}
.row,
.clearfix {
  *zoom: 1;
}
.left {
  margin-left: 0;
  float: left;
}
.right {
  margin-right: 0;
  float: right;
}
.container {
  width: 300px;
  margin: 0 auto 0 auto;
  padding: 0;
}
[class*="columns-"] {
  margin: 0px auto;
}
.columns-1,
.columns-2,
.columns-3,
.columns-4,
.columns-5,
.columns-6,
.columns-7,
.columns-8,
.columns-9,
.columns-10,
.columns-11,
.columns-12,
.columns-13,
.columns-14,
.columns-15,
.columns-16 {
  width: 300px;
}
.offset-1,
.offset-2,
.offset-3,
.offset-4,
.offset-5,
.offset-6,
.offset-7,
.offset-8,
.offset-9,
.offset-10,
.offset-11,
.offset-12,
.offset-13,
.offset-14,
.offset-15 {
  margin-left: 0;
}
@media only screen and (min-width: 480px) {
  .container {
    width: 440px;
  }
  [class*="columns-"] {
    margin: 0px auto;
  }
  .columns-1,
  .columns-2,
  .columns-3,
  .columns-4,
  .columns-5,
  .columns-6,
  .columns-7,
  .columns-8,
  .columns-9,
  .columns-10,
  .columns-11,
  .columns-12,
  .columns-13,
  .columns-14,
  .columns-15,
  .columns-16 {
    width: 440px;
  }
}
@media only screen and (min-width: 600px) {
  .container {
    width: 560px;
  }
  [class*="columns-"] {
    margin: 0px auto;
  }
  .columns-1,
  .columns-2,
  .columns-3,
  .columns-4,
  .columns-5,
  .columns-6,
  .columns-7,
  .columns-8,
  .columns-9,
  .columns-10,
  .columns-11,
  .columns-12,
  .columns-13,
  .columns-14,
  .columns-15,
  .columns-16 {
    width: 560px;
  }
}
@media only screen and (min-width: 768px) {
  .row {
    margin-left: -20px;
  }
  .container {
    width: 640px;
  }
  [class*="columns-"] {
    float: left;
    display: inline;
    margin: 0px 0px 0px 20px;
  }
  .columns-1 {
    width: 20px;
  }
  .columns-2 {
    width: 60px;
  }
  .columns-3 {
    width: 100px;
  }
  .columns-4 {
    width: 140px;
  }
  .columns-5 {
    width: 180px;
  }
  .columns-6 {
    width: 220px;
  }
  .columns-7 {
    width: 260px;
  }
  .columns-8 {
    width: 300px;
  }
  .columns-9 {
    width: 340px;
  }
  .columns-10 {
    width: 380px;
  }
  .columns-11 {
    width: 420px;
  }
  .columns-12 {
    width: 460px;
  }
  .columns-13 {
    width: 500px;
  }
  .columns-14 {
    width: 540px;
  }
  .columns-15 {
    width: 580px;
  }
  .columns-16 {
    width: 640px;
  }
  .offset-1 {
    margin-left: 40px;
  }
  .offset-2 {
    margin-left: 80px;
  }
  .offset-3 {
    margin-left: 120px;
  }
  .offset-4 {
    margin-left: 180px;
  }
  .offset-5 {
    margin-left: 220px;
  }
  .offset-6 {
    margin-left: 260px;
  }
  .offset-7 {
    margin-left: 300px;
  }
  .offset-8 {
    margin-left: 340px;
  }
  .offset-9 {
    margin-left: 380px;
  }
  .offset-10 {
    margin-left: 420px;
  }
  .offset-11 {
    margin-left: 460px;
  }
  .offset-12 {
    margin-left: 500px;
  }
  .offset-13 {
    margin-left: 540px;
  }
  .offset-14 {
    margin-left: 580px;
  }
  .offset-15 {
    margin-left: 620px;
  }
}
@media only screen and (min-width: 960px) {
  .container {
    width: 940px;
  }
  [class*="columns-"] {
    float: left;
    display: inline;
  }
  .columns-1 {
    width: 40px;
  }
  .columns-2 {
    width: 100px;
  }
  .columns-3 {
    width: 160px;
  }
  .columns-4 {
    width: 220px;
  }
  .columns-5 {
    width: 280px;
  }
  .columns-6 {
    width: 340px;
  }
  .columns-7 {
    width: 400px;
  }
  .columns-8 {
    width: 460px;
  }
  .columns-9 {
    width: 520px;
  }
  .columns-10 {
    width: 580px;
  }
  .columns-11 {
    width: 640px;
  }
  .columns-12 {
    width: 700px;
  }
  .columns-13 {
    width: 760px;
  }
  .columns-14 {
    width: 820px;
  }
  .columns-15 {
    width: 880px;
  }
  .columns-16 {
    width: 940px;
  }
  .offset-1 {
    margin-left: 60px;
  }
  .offset-2 {
    margin-left: 120px;
  }
  .offset-3 {
    margin-left: 180px;
  }
  .offset-4 {
    margin-left: 240px;
  }
  .offset-5 {
    margin-left: 300px;
  }
  .offset-6 {
    margin-left: 360px;
  }
  .offset-7 {
    margin-left: 420px;
  }
  .offset-8 {
    margin-left: 480px;
  }
  .offset-9 {
    margin-left: 540px;
  }
  .offset-10 {
    margin-left: 600px;
  }
  .offset-11 {
    margin-left: 660px;
  }
  .offset-12 {
    margin-left: 720px;
  }
  .offset-13 {
    margin-left: 780px;
  }
  .offset-14 {
    margin-left: 840px;
  }
  .offset-15 {
    margin-left: 900px;
  }
}
@media only screen and (min-width: 1280px) {
  .container {
    width: 1100px;
  }
  .columns-1 {
    width: 50px;
  }
  .columns-2 {
    width: 120px;
  }
  .columns-3 {
    width: 190px;
  }
  .columns-4 {
    width: 260px;
  }
  .columns-5 {
    width: 330px;
  }
  .columns-6 {
    width: 400px;
  }
  .columns-7 {
    width: 470px;
  }
  .columns-8 {
    width: 540px;
  }
  .columns-9 {
    width: 610px;
  }
  .columns-10 {
    width: 680px;
  }
  .columns-11 {
    width: 750px;
  }
  .columns-12 {
    width: 820px;
  }
  .columns-13 {
    width: 890px;
  }
  .columns-14 {
    width: 960px;
  }
  .columns-15 {
    width: 1030px;
  }
  .columns-16 {
    width: 1100px;
  }
  .offset-1 {
    margin-left: 70px;
  }
  .offset-2 {
    margin-left: 140px;
  }
  .offset-3 {
    margin-left: 210px;
  }
  .offset-4 {
    margin-left: 280px;
  }
  .offset-5 {
    margin-left: 350px;
  }
  .offset-6 {
    margin-left: 420px;
  }
  .offset-7 {
    margin-left: 490px;
  }
  .offset-8 {
    margin-left: 560px;
  }
  .offset-9 {
    margin-left: 630px;
  }
  .offset-10 {
    margin-left: 700px;
  }
  .offset-11 {
    margin-left: 770px;
  }
  .offset-12 {
    margin-left: 840px;
  }
  .offset-13 {
    margin-left: 910px;
  }
  .offset-14 {
    margin-left: 980px;
  }
  .offset-15 {
    margin-left: 1050px;
  }
}
